body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:60px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:60px;
}
#u2 {
  position:absolute;
  left:2px;
  top:22px;
  width:1496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1360px;
  top:22px;
  width:66px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:1452px;
  top:22px;
  width:27px;
  height:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:557px;
  top:13px;
  width:65px;
  height:37px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:37px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:0px;
  top:890px;
  width:1200px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:350px;
  top:912px;
  width:288px;
  height:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:0px;
  top:60px;
  width:220px;
  height:800px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:800px;
}
#u18 {
  position:absolute;
  left:2px;
  top:392px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:80px;
  width:220px;
  height:40px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:13px;
  top:90px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:13px;
  top:130px;
  width:53px;
  height:16px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:410px;
  width:220px;
  height:40px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:13px;
  top:156px;
  width:53px;
  height:16px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:13px;
  top:182px;
  width:53px;
  height:16px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:0px;
  top:208px;
  width:220px;
  height:40px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:13px;
  top:218px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:13px;
  top:420px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:460px;
  width:220px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:13px;
  top:470px;
  width:108px;
  height:19px;
  font-size:16px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:19px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:13px;
  top:258px;
  width:53px;
  height:16px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:13px;
  top:284px;
  width:53px;
  height:16px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:0px;
  top:360px;
  width:220px;
  height:40px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:13px;
  top:370px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:0px;
  top:310px;
  width:220px;
  height:40px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u50 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:13px;
  top:320px;
  width:88px;
  height:19px;
  font-size:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:19px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:230px;
  top:80px;
  width:100px;
  height:25px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u53_input {
  font-family:'应用字体';
}
#u54 {
  position:absolute;
  left:230px;
  top:130px;
  width:1275px;
  height:95px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:73px;
  top:0px;
  width:88px;
  height:30px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:161px;
  top:0px;
  width:93px;
  height:30px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:254px;
  top:0px;
  width:140px;
  height:30px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:394px;
  top:0px;
  width:94px;
  height:30px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:488px;
  top:0px;
  width:98px;
  height:30px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:586px;
  top:0px;
  width:131px;
  height:30px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:717px;
  top:0px;
  width:99px;
  height:30px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:816px;
  top:0px;
  width:87px;
  height:30px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:903px;
  top:0px;
  width:73px;
  height:30px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u74 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:976px;
  top:0px;
  width:98px;
  height:30px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:1074px;
  top:0px;
  width:98px;
  height:30px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u78 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:1172px;
  top:0px;
  width:98px;
  height:30px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u80 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:0px;
  top:30px;
  width:73px;
  height:30px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u82 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:73px;
  top:30px;
  width:88px;
  height:30px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u84 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:161px;
  top:30px;
  width:93px;
  height:30px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:254px;
  top:30px;
  width:140px;
  height:30px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:394px;
  top:30px;
  width:94px;
  height:30px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:488px;
  top:30px;
  width:98px;
  height:30px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u92 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:586px;
  top:30px;
  width:131px;
  height:30px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:717px;
  top:30px;
  width:99px;
  height:30px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:816px;
  top:30px;
  width:87px;
  height:30px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:903px;
  top:30px;
  width:73px;
  height:30px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u100 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:976px;
  top:30px;
  width:98px;
  height:30px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u102 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1074px;
  top:30px;
  width:98px;
  height:30px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u104 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1172px;
  top:30px;
  width:98px;
  height:30px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u106 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:60px;
  width:73px;
  height:30px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u108 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:73px;
  top:60px;
  width:88px;
  height:30px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u110 {
  position:absolute;
  left:2px;
  top:7px;
  width:84px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:161px;
  top:60px;
  width:93px;
  height:30px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u112 {
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:254px;
  top:60px;
  width:140px;
  height:30px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u114 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:394px;
  top:60px;
  width:94px;
  height:30px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u116 {
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:488px;
  top:60px;
  width:98px;
  height:30px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u118 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:586px;
  top:60px;
  width:131px;
  height:30px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u120 {
  position:absolute;
  left:2px;
  top:7px;
  width:127px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:717px;
  top:60px;
  width:99px;
  height:30px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u122 {
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:816px;
  top:60px;
  width:87px;
  height:30px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:83px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:903px;
  top:60px;
  width:73px;
  height:30px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:69px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:976px;
  top:60px;
  width:98px;
  height:30px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1074px;
  top:60px;
  width:98px;
  height:30px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u130 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1172px;
  top:60px;
  width:98px;
  height:30px;
  text-align:center;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:316px;
  top:135px;
  width:69px;
  height:22px;
}
#u133_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u133_input {
  font-family:'应用字体';
}
#u133_input:disabled {
  color:grayText;
}
#u134 {
  position:absolute;
  left:407px;
  top:135px;
  width:69px;
  height:22px;
}
#u134_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u134_input {
  font-family:'应用字体';
}
#u134_input:disabled {
  color:grayText;
}
#u135 {
  position:absolute;
  left:502px;
  top:135px;
  width:108px;
  height:22px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u135_input {
  font-family:'应用字体';
}
#u135_input:disabled {
  color:grayText;
}
#u136 {
  position:absolute;
  left:830px;
  top:135px;
  width:108px;
  height:22px;
}
#u136_input {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u136_input {
  font-family:'应用字体';
}
#u136_input:disabled {
  color:grayText;
}
